<h1>Editing workflow</h1>

<% form_for(@workflow) do |f| %>
  <%= f.error_messages %>

	<p>
	   <%= f.label :name %><br />
	   <%= f.text_field :name %>
	  </p>
	  <p>
	   <%= f.label :description %><br />
	   <%= f.text_area :description, :size => "30x3"%>
	  </p>	
   <p>
   Protocols in workflow - 	   <%= link_to_function "Add" do |page|
	     page.insert_html :bottom,  :stages, :partial => 'stage', :object => Stage.new(:position => 0)
	   end -%> -
   </p>
   <div id="stages">

		<%= render :partial => 'stage', :collection => @workflow.stages %>

   </div>



  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @workflow %> |
<%= link_to 'Back', workflows_path %>