<h1>Editing workflow</h1>

<% form_for(@workflow) do |f| %>
  <%= f.error_messages %>

	<p>
	   <%= f.label :name %><br />
	   <%= f.text_field :name %>
	    <%= f.hidden_field :user_id, :value => session[:user_id] %>
	  </p>
	  <p>
	   <%= f.label :description %><br />
	   <%= f.text_area :description, :size => "30x3"%>
	  </p>	
	 
	- Protocols in workflow - 

	<% f.fields_for :stages do |builder| %>
		<%= render :partial => 'stage_fields', :locals => { :f => builder }%>

	<% end %>
	
	<div>
	<BR>

	<%= link_to_add_fields "Add", f, :stages %>
	</div>


  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @workflow %> |
<%= link_to 'Back', workflows_path %>