<h1>My Workflows</h1>

<table cellpadding="4" cellspacing="5">
  <tr>
    <th>Name</th>
    <th>Description</th>
	<th>Protocols</th>
  </tr>

<% @my_workflows.each do |workflow| %>
  <tr>
    <td><%=h workflow.name %></td>
    <td><%=h workflow.description %></td>
	<td>|<% workflow.protocols.each do |p| %>
		<%= p.name %> | 
		<% end %>
		</td>
	<td><%= link_to 'Submit', new_workflow_submission_url(:id => workflow.id) %></td>
    <td><%= link_to 'Show', workflow %></td>
    <td><%= link_to 'Edit', edit_workflow_path(workflow) %></td>
    <td><%= link_to 'Destroy', workflow, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New workflow', new_workflow_path %>

<br />

<h1>Other Workflows</h1>

<table cellpadding="4" cellspacing="5">
  <tr>
    <th>Name</th>
    <th>Description</th>
	<th>Protocols</th>
  </tr>

<% @workflows.each do |workflow| %>
  <tr>
    <td><%=h workflow.name %></td>
    <td><%=h workflow.description %></td>
	<td>|<% workflow.protocols.each do |p| %>
		<%= p.name %> | 
		<% end %>
		</td>
	<td><%= link_to 'Submit', new_workflow_submission_url(:id => workflow.id) %></td>
  </tr>
<% end %>
</table>
