<h1>New workflow</h1>

<% form_for(@workflow, :name => 'workflow_form') do |f| %>
  <%= f.error_messages %>

<script>


</script>

<table>
	
<tr>
<td valign='top'>
	<p>
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </p>
	  <p>
	    <%= f.label :description %><br />
	    <%= f.text_area :description, :size => "30x3"%>
	  </p>	


	- Protocols in workflow - 

	<% f.fields_for :stages do |builder| %>
		<%= render :partial => 'stage_fields', :locals => { :f => builder }%>

	<% end %>

	<div>
	<BR>

	<%= link_to_add_fields "Add", f, :stages %>
	</div>

	
</td>	
	
</tr>
<tr>
	<td>
		<BR>
		<p>
			
			<%= hidden_field_tag "submit_flag", "0" %>
			
		    <%= f.submit 'Save & Submit', :onclick => "$('submit_flag').value = 1"  %>  <%= f.submit 'Save Only'%> <%= link_to 'Back', workflows_path %>
		 </p>
	</td>
</tr>		
	
	
	
	
</table>
   




<% end %>

