<p>
  <b>Name:</b>
  <%=h @workflow.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @workflow.description %>
</p>

<p>
  <b>Protocols </b>(and their defaults): <BR><BR>
  <%= render :partial => 'protocol', :collection => @workflow.protocols %>
</p>


<%= link_to 'Edit', edit_workflow_path(@workflow) %> |
<%= link_to 'Back', workflows_path %>