<table width="100%" border="0" cellspacing="0" cellpadding="10">

  <tr class="data_row"> 
    <td align="left"><%= image_tag("qips.png", :size => "125x65") %></td>
    <td align="left"><%= image_tag("handoff.jpg", :size => "153x65") %></td>
    <td align="center"><big><strong> [ Workflow Manager ]</strong></big></td>


   <td align="right"><strong>
 <%= link_to "Workflows", workflows_path %> | 
<%= link_to "Protocols", protocols_path %> | 
<%= link_to "Submissions", submissions_path %> |
 <%= link_to "RuoteKit", "/_ruote/processes", :popup => true %> |
        </strong></td>
  </tr>
</table>
<HR>