<table width="100%" border="0" cellspacing="0" cellpadding="10" class="heading">

  <tr class="data_row"> 
    <td align="left"><%= image_tag("qips.png", :size => "125x65") %></td>
    <td align="center"><big><strong> [ Workflow Manager ]</strong></big><BR>Welcome<%= session[:user_id].nil? ? '' : ", #{User.find(session[:user_id]).username}" -%>!</td>


   <td align="right"><strong>
 <%= link_to "Workflows", workflows_path %> | 
<% if current_user && current_user.admin? %><%= link_to "Protocols", protocols_path %> | <% end -%>
<%= link_to "Submissions", submissions_path %> |
 <% if current_user && current_user.admin? %><%= link_to "RuoteKit", "/_ruote/processes", :popup => true %> | <% end -%>
<%= link_to "Logout", logout_path %>
        </strong></td>
  </tr>
</table>
<HR>