<tr>
<td nowrap><%= p.label parameter.var_name, parameter.field_label %>:</td>
<% case parameter.field_type  when 'text' %>
<td> <%= p.text_field parameter.var_name, :value => parameter.initial_value %> </td>
<% when 'check_box' %>
<td><%= p.check_box parameter.var_name %></td>
<% when 'radio_box' 
# enumerate through choices
%>
<td nowrap>
<% parameter.value_options.split(',').each do |v| 
	
	checked = v.strip.eql?(parameter.initial_value.strip)
	
	-%>
<%= p.radio_button parameter.var_name, v, :checked => checked %> <%= v.strip %>
<% end -%>
</td>
<% when 'select' %>
<td>
<%= select_tag parameter.var_name, options_for_select(parameter.value_options.split(','), parameter.initial_value) %>
</td>
<% else %>

	
<% end%>

<td>
<small><%= parameter.description %></small>
</td>

</tr>
 