<tr><td>
<div class="task">
<% fields_for "submission[task_attributes][]", task do |t| 

%>
<p> <b><%= task.protocol.name %></b></p>
<%= t.hidden_field :protocol_id, :value => task.protocol.id %>
<%= t.hidden_field :rank, :value => task.rank %>
<%= t.hidden_field :params_url, :value => task.protocol.params_filename ||= '' %>
<%= t.hidden_field :name, :value => task.protocol.name %>

<p>
    <%= t.label :aux_files %> (S3 Bucket URL) -   <%= link_to_function "more" do |page|
		     page.insert_html :bottom,  "aux_files_#{task.protocol.id}", :partial => 'aux_files'

		   end %> -
		
    <div id="aux_files_<%= task.protocol.id -%>">
	  <%= render :partial => 'aux_files' %>
	</div>

</p>


<p>Executable: <%= t.text_field :executable, :value => task.protocol.executable, :readonly => true %> 
	Args: <%= t.text_field :args, :value => task.protocol.default_args %> 
	<% if task.protocol.pass_filenames %>
	(includes input files)
	<% end -%>
</p>

	 <%= render :partial => 'parameter', :collection => task.protocol.parameters %>


<% end %>


</div>
</td></tr>
