<tr><td>
<div class="task">
<p> <b><%= task.protocol.name %></b></p>
<%= t.hidden_field :protocol_id, :value => task.protocol.id %>
<%= t.hidden_field :role_id, :value => task.protocol.role_id %>
<%= t.hidden_field :rank, :value => task.rank %>
<%= t.hidden_field :params_url, :value => task.protocol.params_filename ||= '' %>
<%= t.hidden_field :name, :value => task.protocol.name %>

<p>
	 <% t.fields_for "aux_files" do |b|%>
	
    <%= t.label :aux_files %> (S3 Bucket URL) -   <%= link_to_function "more" do |page|
		     page.insert_html :bottom,  "aux_files_#{task.protocol.id}", :partial => 'aux_files', :locals => {:b => b}

		   end %> -
		
    <div id="aux_files_<%= task.protocol.id -%>">
	 
	  <%= render :partial => 'aux_files', :collection => task.protocol.default_aux_files, :locals => {:b => b} %>
	
	  
	</div>
<% end %>
</p>


<p>Executable: <%= t.text_field :executable, :value => task.protocol.executable, :readonly => true %> 
	Args: <%= t.text_field :args, :value => task.protocol.default_args %> 
	<% if task.protocol.pass_filenames %>
	(includes input files)
	<% end -%>
</p>

	<% t.fields_for "param_values" do |b| %>
	 <%= render :partial => 'parameter', :collection => task.protocol.parameters, :locals => { :p => b } %>
	<% end %>

</div>
</td></tr>
