<tr><td>
<div class="task">
<p> <b><%= task.protocol.name %></b></p>
<%= t.hidden_field :protocol_id, :value => task.protocol.id %>
<%= t.hidden_field :role_id, :value => task.protocol.role_id %>
<%= t.hidden_field :rank, :value => task.rank %>
<%= t.hidden_field :params_url, :value => task.protocol.params_filename ||= '' %>
<%= t.hidden_field :name, :value => task.protocol.name %>

<p><PRE><%=h task.protocol.description %></PRE></p>

<%= t.label :aux_files %>:<br>
	
<%= t.select :aux_files, options_for_select(@items_list, task.protocol.default_aux_files),{}, {:multiple => true, :class => "multiselect"} %>


<p>Executable: <%= t.text_field :executable, :value => task.protocol.executable, :readonly => true %> 
	Args: <%= t.text_field :args, :value => task.protocol.default_args %> 
	<% if task.protocol.pass_filenames %>
	(includes input files)
	<% end -%>
</p>

	<% t.fields_for "param_values" do |b| %>
	 <%= render :partial => 'parameter', :collection => task.protocol.parameters, :locals => { :p => b } %>
	<% end %>

</div>
</td></tr>
