<h1>Listing submissions</h1>

<table cellpadding="4" cellspacing="5">
  <tr>
	<th>Project</th>
	<th>Tasks</th>
	<th>Submitted At</th>
  </tr>

<% @submissions.each do |submission| %>
  <tr <%= submission.last_error.blank? ? '' : "id='flash_error'" %> >
	<td>
	 <% if current_user.admin? %>
	   <%=h User.find(submission.user_id).username %> --
	 <% end -%>	
	 <%=h Project.find(submission.project_id).name %>
	</td>
	<td>|<% submission.tasks.each do |t| %>
		<%= t.protocol.name %> | 
		<% end %>
		</td>
	
	<td><%=h submission.created_at.localtime.to_s(:db) %></td>
    <td><%= link_to 'Details', submission %></td>
    <td><%= link_to 'Remove', submission, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
