<h1>New submission</h1>

<% form_for(@submission) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :owner %><br />
    <%= f.text_field :owner %>
  </p>

<p>
	<% f.fields_for "input_files" do |b| %>
	    <%= f.label :input_files %> (S3 Bucket URL) -   <%= link_to_function "more" do |page|
			     page.insert_html :bottom,  "input_files", :partial => 'input_files', :locals => { :f => b }

			   end %> - 
		
	    <div id="input_files">
		  <%= render :partial => 'input_files', :locals => { :f => b } %>
		</div>

	<% end %>
</p>

  
  <p>
    <%= f.label :output_folder %> (S3 Bucket URL) <br />
    <%= f.text_field :output_folder %>
  </p>
  
   <h3>Fill in Protocols Below:</h3>

  <div id="tasks">
	<table cellspacing=0 cellpadding=5 border=1>
		
		<% f.fields_for :tasks do |b| %>
  			<%= render :partial => 'task', :object => b.object, :locals => { :t => b } %>
		
		<% end %>

     </table>
  </div>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', submissions_path %>