<%= stylesheet_link_tag "common.css" %>
<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/ui.all.css" %>
<%= stylesheet_link_tag "ui.multiselect.css" %>
<%= javascript_include_tag "jquery-1.4.2.min.js" %>
<%= javascript_include_tag "jquery-ui-1.8.1.custom.min.js" %>
<%= javascript_include_tag "ui.multiselect.js" %>

<script type="text/javascript">
$(function(){
  // choose either the full version
  //$(".multiselect").multiselect();
  // or disable some features
  $(".multiselect").multiselect({sortable: false, searchable: true});
});
</script>

<h1>New submission</h1>

<% form_for(@submission) do |f| %>
  <%= f.error_messages %>

  <p>
    <strong>Owner: <%= current_user.username %></strong><br />
    <%= f.hidden_field :user_id, :value => session[:user_id] %>
  </p>


  <%= f.label :input_files %>:<br>
	
  <%= f.select :input_files, options_for_select(@items_list, @submission.input_files),{}, {:multiple => true, :class => "multiselect"} %>
  
  <p>
    <%= f.label :project_id, 'Output Project:' %><br />
    <%= f.select :project_id, current_user.projects.collect{|p| [p['name'], p['id']]} %>
  </p>
  
   <h3>Fill in Protocols Below:</h3>

  <div id="tasks">
	<table cellspacing=0 cellpadding=5 border=1>
		
		<% f.fields_for :tasks do |b| %>
  			<%= render :partial => 'task', :object => b.object, :locals => { :t => b } %>
		
		<% end %>

     </table>
  </div>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', submissions_path %>