<h1>New submission</h1>

<% form_for(@submission) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :owner %><br />
    <%= f.text_field :owner %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', submissions_path %>