<h1>New submission</h1>

<% form_for(@submission) do |f| %>
  <%= f.error_messages %>

  <p>
    <strong>Owner: <%= current_user.username %></strong><br />
    <%= f.hidden_field :user_id, :value => session[:user_id] %>
  </p>

<p>
	<% f.fields_for "input_files" do |b| %>
	    <%= f.label :input_files %> (S3 Bucket URL) -   <%= link_to_function "more" do |page|
			     page.insert_html :bottom,  "input_files", :partial => 'input_files', :locals => { :f => b }

			   end %> - 
		
	    <div id="input_files">
		  <%= render :partial => 'input_files', :locals => { :f => b } %>
		</div>

	<% end %>
</p>

  
  <p>
    <%= f.label :project_id, 'Output Project:' %><br />
    <%= f.select :project_id, Project.get(:index_by_id, :user_id => session[:user_id]).collect{|p| [p['name'], p['id']]} %>
  </p>
  
   <h3>Fill in Protocols Below:</h3>

  <div id="tasks">
	<table cellspacing=0 cellpadding=5 border=1>
		
		<% f.fields_for :tasks do |b| %>
  			<%= render :partial => 'task', :object => b.object, :locals => { :t => b } %>
		
		<% end %>

     </table>
  </div>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', submissions_path %>