<h2>Submission <%=h @submission.id %></h2>
<b>Created at:</b> <%=h @submission.created_at.localtime.to_s(:db) %>

<p>
  <b>Owner:</b>
  <%=h @submission.owner %>
</p>
<p>
  <b>Input Files:</b>
  <%=h @submission.input_files.inspect %>
</p>
<p>

  <b>Output Folder:</b>
  <%=h @submission.output_folder %>
</p>
<p>

  <b>Tasks:</b>
  <blockquote>
  <% @submission.tasks.each do |t|%>

	<p><b><%=h t.rank %> - <%=h t.protocol.name %></b>
	</p>
	<p>
	  <pre><%=h t.executable %> <%=h t.args %></pre>
	</p>
	<% unless t.params_url.blank? %>
	<p><b>Params File:</b><BR><BR>
		<%= t.params_url %><BR><BR>
		<%= text_area_tag 'params', t.params_contents,  :size => '50x20' %>
    </p>
	<% end -%>
  <% end %>
  </blockquote>

</p>

<p>
	<b>Process Definition:<BR><BR></b>

	    <%= text_area_tag 'xml', @nice_xml, :size => '100x25' %>

	
</p>

<p>
	<b>MAP:<BR><BR></b>
		<canvas id='fluo'></canvas>
	   <script type='text/javascript'>
		                  //<![CDATA[
		                    var proc_rep = <%= @submission.process_definition.to_json -%>;
		                    FluoCan.renderFlow( 'fluo', proc_rep );
		                    FluoCan.crop('fluo');
		                  //]]>
		</script>

	
</p>


<%= link_to 'Back', submissions_path %>