<h2>Submission <%=h @submission.id %> (<%= @submission.active? ? "active" : "" %><%= @submission.last_error.blank? ? "" : " with errors" %>)</h2>
<p>
  <b>Ruote ID:</b>
  <%=h @submission.fei_wfid %>
</p>

<p><b>Created at:</b> <%=h @submission.created_at.localtime.to_s(:db) %></p>

<p>
  <b>Last Error:</b>
  <% unless @submission.last_error.blank? %>
  <PRE id="flash_error"><%=h @submission.last_error %></PRE>
	<% end -%>
</p>

<p>
  <strong>Owner: <%= current_user.username %></strong><br />
</p>
<p>
  <b>Input Files:</b>
	<PRE><%= @pretty_input_files_list.join("\n") %></PRE>

</p>
<p>

  <b>Output Project:</b>
  <%= link_to Project.find(@submission.project_id).name, "#{PUBLIC_ILIMS_SITE}/projects/#{@submission.project_id}", :popup => true %>

</p>
<p>

  <b>Tasks:</b>
  <blockquote>
	<table border="1" cellpadding="5" cellspacing="0" width="100%"><tr>
		<td valign="top">
  <% @submission.tasks.each do |t|%>

	<p><b><%=h t.rank %> - <%=h t.name %></b>
	</p>
	<p>
	  <pre><%=h t.executable %> <%=h t.args %></pre>
	</p>
	<p>
		Auxiliary Files:
		<% unless t.aux_files.nil? %>
	<PRE><% t.aux_files.each do |af|
	   i = Item.find(af)
	-%>
<%= "#{i.attachment_file_name}" %>
<% end -%>
		</PRE>
		<% end -%>
	</p>
	
	<% unless t.params_url.blank? %>
	<p><b>Params File:</b><BR><BR>
		<%= t.params_url %><BR><BR>
		<%= text_area_tag 'params', t.params_contents,  :size => '70x20' %>
    </p>
	<% end -%>
  <% end %>
	</td>
	<td valign="top">
		<p><b>Current Output:</b>
		</p>
		<%= text_area_tag 'output', @task_outputs, :size => '70x30' %>
	</td>
	</tr></table>
  </blockquote>

</p>

<p>
	<b>Process Definition:</b>
	<blockquote>
		<table border="0" cellpadding="5" cellspacing="0" width="100%"><tr>
			<td valign="top" align='center'>
				<canvas id='fluo'></canvas>
			   <script type='text/javascript'>
				                  //<![CDATA[
				                    var proc_rep = <%= @submission.process_definition.to_json -%>;
				                    FluoCan.renderFlow( 'fluo', proc_rep );
				                    FluoCan.crop('fluo');
				                  //]]>
				</script>

			<BR><BR>

			<%= text_area_tag 'xml', @nice_xml, :size => '70x40' %>
			
		</td>
		</tr></table>
	</blockquote>	
	
</p>


<%= link_to 'Back', submissions_path %>