<%= stylesheet_link_tag "common.css" %>
<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/ui.all.css" %>
<%= stylesheet_link_tag "ui.multiselect.css" %>
<%= javascript_include_tag "jquery-1.4.2.min.js" %>
<%= javascript_include_tag "jquery-ui-1.8.1.custom.min.js" %>
<%= javascript_include_tag "ui.multiselect.js" %>

<script type="text/javascript">
$(function(){
  // choose either the full version
  //$(".multiselect").multiselect();
  // or disable some features
  $(".multiselect").multiselect({sortable: false, searchable: true});
});
</script>

<% form_for(@protocol) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>: <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %>: <BR><%= f.text_area :description %>
  </p>
 

   <p>
	<table>
		<tr><td>
    <%= f.label :default_aux_files %>: 
		</td>
		<tr><td>
    <%= f.select :default_aux_files, options_for_select(@items_list, @selected_items_list),{}, {:multiple => true, :class => "multiselect"} %>
		</td></tr>
		</table>
	</p>
  <p>
    <%= f.check_box :run_concurrent %> Run Concurrently for each input file 
  </p>

  <p>
    <%= f.collection_select :role_id, Role.find(:all), :id, :name %> Role to pass to Resource Manager when requesting nodes. 
  </p>

  <p>
    <%= f.label :executable %> (full path):    <%= f.text_field :executable %>
  </p>

  <p>
    <%= f.label :default_args %>:    <%= f.text_field :default_args %>
  </p>

  <p>
    <%= f.check_box :pass_filenames %> Pass Input Filenames to executable (--input_files='file1,file2'):    
  </p>

  <p>
    <%= f.label :process_timeout %>:    <%= f.text_field :process_timeout, :size => 5 %>
  </p>

  <p>
    <%= f.label :params_filename %>:  <%= f.text_field :params_filename %>
  </p>

  <p>
    <%= f.label :params_template %> - pass values into params file using erb tags (var_name indicated below):<PRE> &lt;%= values[:var_name] %&gt;</PRE><br />
    <%= f.text_area :params_template %>
  </p>

   
  <table border="1">
    <TR>
      <td>
       <h2>Protocol Parameters</h2>
       <p>These Parameters will be presented to the user so they can specify the settings for the job.  The parameter values will get saved into a file as the params filename, which is passed along to the working directory.  The format of the params file is generated from the params template above(erb). Use erb tags to insert values into the params file (see above).

		<% f.fields_for :parameters do |b| %>

        	<%= render :partial => 'parameter_fields', :locals => { :f => b } %>
	
		<% end %>
		
		<div>
			<%= link_to_add_fields "Add", f, :parameters %>
		</div>
		

      </td>

    </TR>
  </table>




 
  <p>
    <%= f.submit 'Submit' %>
  </p>

<% end %>