<div class="fields">
<table>
<tr>
  <td><%= f.select :field_type, ['text','check_box', 'radio_box', 'select']  %></td>
  <td><%= f.text_field :field_label, :size => 24 %></td>
  <td><%= f.text_field :var_name, :size => 24 %></td>
  <td><%= f.text_field :initial_value, :size => 24 %></td>
  <td><%= f.text_field :value_options, :size => 24 %></td>
  <td><%= f.text_area :description, :size => '30x2' %></td>

  <td>
	<%= f.hidden_field :_destroy %>
	<%= link_to_remove_fields "Remove", f %>
  </td>
	
</tr>
</table>
</div>