<h1>Listing protocols</h1>

<table cellpadding="4" cellspacing="5">
  <tr>
    <th>Name</th>
	<th>Description</th>
    <th>Concur</th>
    <th>Params filename</th>
    <th>Executable</th>
  </tr>

<% @protocols.each do |protocol| %>
  <tr>
    <td><%=h protocol.name %></td>
    <td><%=h protocol.description[0..100] %>...</td>
    <td><%=h protocol.run_concurrent %></td>
    <td><%=h protocol.params_filename %></td>
    <td><%=h protocol.executable %> <%=h protocol.default_args %></td>
    <td><%= link_to 'Review', protocol %></td>
    <td><%= link_to 'Edit', edit_protocol_path(protocol) %></td>
    <td><%= link_to 'Destroy', protocol, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New protocol', new_protocol_path %>