<h1>Listing protocols</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Params template</th>
    <th>Params filename</th>
    <th>Run concurrent</th>
  </tr>

<% @protocols.each do |protocol| %>
  <tr>
    <td><%=h protocol.name %></td>
    <td><%=h protocol.params_template %></td>
    <td><%=h protocol.params_filename %></td>
    <td><%=h protocol.run_concurrent %></td>
    <td><%= link_to 'Show', protocol %></td>
    <td><%= link_to 'Edit', edit_protocol_path(protocol) %></td>
    <td><%= link_to 'Destroy', protocol, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New protocol', new_protocol_path %>