<h1>Review Protocol</h1>

<p>
  <b>Name:</b>
  <%=h @protocol.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @protocol.description %>
</p>

<p>
  <b>Role:</b>
  <%=h @protocol.role.name %>
</p>

<p>
  <b>Executable</b><% if @protocol.run_concurrent == true %> (concurrent)<% end -%>:
  <PRE><%= @protocol.executable %> <%= @protocol.default_args %> <%= @protocol.pass_filenames == true ? '--input_files=file1,file2' : ''%></PRE>
</p>
<p>
  <b>Process Timeout:</b> <%= @protocol.process_timeout.blank? ? '' : "#{@protocol.process_timeout} mins"%>
</p>

<p>
  <b>Default Auxiliary Files:</b> <BR><% unless @protocol.default_aux_files.blank? %><PRE><%= @pretty_selected_items_list.join("\n")%></PRE><% end -%>
	
</p>


<p>
  <b>Params Template:</b> <%=h @protocol.params_filename %><BR><BR>
  <%= text_area_tag 'template', @protocol.params_template, :size => "50x15" %>
	
</p>

<h2>Parameters Preview</h2>
<p>This is how the parameters will look to users when they submit a workflow. Drag and drop each form element to change the ordering of parameters. Changes will be saved instantly. </p>

<BR>

<% if @protocol.parameters.empty? %>

	<PRE>No Parameters found.</PRE>

<% else -%>


	<ul id="parameters" style="list-style: none;">
		<% @protocol.parameters.each do |parameter| %>
			<% content_tag_for :li, parameter  do -%>
		
				<p>	
				<span class="handle">[move]</span>
				<% case parameter.field_type  when 'text' %>

				<%= parameter.field_label %>: <%= text_field_tag parameter.var_name, parameter.initial_value %> 

				<% when 'check_box' %>

				<%= parameter.field_label %>: <%= check_box_tag "#{parameter.var_name}", parameter.initial_value %>

				<% when 'radio_box' 
				# enumerate through choices
				%>
				<%= parameter.field_label %>: <BR>
				<% parameter.value_options.split(',').each do |v| 
	
					checked = v.strip.eql?(parameter.initial_value.strip)
	
					-%>
				<%= radio_button_tag "#{parameter.var_name}", v.strip, checked %> <%= v.strip %>
				<% end -%>
				<% when 'select' %>
				<%= parameter.field_label %>: <%= select_tag "#{parameter.var_name}", options_for_select(parameter.value_options.split(','), parameter.initial_value) %>
				<% else %>
	
				<% end%>
				
				<small><%= parameter.description %></small>
				</p>
			<% end %>
		<% end %>
	</ul>

	<%= sortable_element("parameters", :url => sort_parameters_path, :handle => "handle" ) %>


		
<% end %>


<BR><BR>



<%= link_to 'Edit', edit_protocol_path(@protocol) %> |
<%= link_to 'Back', protocols_path %>